@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}

body{
	min-height: 100vh;
	overflow-x: hidden;
}

body::-webkit-scrollbar{
	width: 0.6rem;
}
body::-webkit-scrollbar-track{
	background-color: #fff;
}
body::-webkit-scrollbar-thumb{
	background-color: rgb(190, 190, 190);
}

body::-webkit-scrollbar-thumb:active{
	background-color: rgb(170, 170, 170);
}

a{
	text-decoration: none;
	color: #000;
}

li{
	list-style-type: none;
}

a:hover, button:hover, input[type=submit]:hover{
	cursor: pointer;
}

.row{
	display: flex;
}

.block{
	display: block;
}

.hidden{
	display: none;
}

.d-block, .d-md-block{
	display: block;
}

.column{
	display: flex;
	flex-direction: column;
}

.flex_center{
	justify-content: center;
}

.flex_between{
	justify-content: space-between;
}

.flex-around{
	justify-content: space-around;
}

.column_center{
	align-items: center;
}

.grid_row{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3,30%);
	grid-template-rows: repeat(1, 300px);
	margin-top: 10px;
	column-gap: 1.5%;
}

.grid_one{
	grid-column: 1/1;
	grid-row: 1;
}

.grid_two{
	grid-column: 2/2;
	grid-row: 1;
}

.grid_three{
	grid-column: 3/3;
	grid-row: 1;
}

button, input{
	outline: 0;
	border: none;
	background-color: #fff;
}

.presentation{
	width: 100%;
	display: flex;
	flex-direction: column;
	background: rgb(25,26,72);
	background: linear-gradient(180deg, rgba(25,26,72,1) 0%, rgba(82,1,133,1) 100%);
}

.pannel{
	width: 75%;
	margin: auto;
	background-color: transparent;
	padding: 30px;
	border-radius: 10px;
}

header{
	height: 100px;
	background-color: #191A48;
	border-bottom: 1px solid #111230;
	font-weight: bolder;
}

header img{
	width: 10%;
	height: 100px;
}

header nav{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

header nav ul{
	width: 100%;
	height: 50px;
}

header nav ul li a{
	font-size: 150%;
	color: white;
}

header nav ul li{
	margin: 0 20px;
	position: relative;
}

header nav ul li:before{
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background-color: white;
	transform: translateY(33px);
	transition: transform 0.5s;
}

header nav ul li:hover:before{
	transform: translateY(38px);
}

.box-advertise{
	width: 75%;
	height: 75%;
}

.center-img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.txt{
	padding: 0 10px;
}

.w-100{
	width: 100%;
}

.d-none{
	display:none;
}

.crop-all{
	overflow: hidden;
}

.margin-r-10{
	margin-right: 10px;
}
.margin-r-20{
	margin-right: 10px;
}
.margin-r-30{
	margin-right: 10px;
}
.margin-r-40{
	margin-right: 10px;
}
.margin-l-10{
	margin-left: 10px;
}
.margin-l-20{
	margin-left: 10px;
}
.margin-l-30{
	margin-left: 10px;
}
.margin-l-40{
	margin-left: 10px;
}
.margin-t-10{
	margin-top: 10px;
}
.margin-t-20{
	margin-top: 10px;
}
.margin-t-30{
	margin-top: 10px;
}
.margin-t-40{
	margin-top: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
}
.margin-b-20{
	margin-bottom: 20px;
}
.margin-b-30{
	margin-bottom: 30px;
}
.margin-b-40{
	margin-bottom: 40px;
}

.font-maj{
	text-transform: uppercase;
}

#onload{
	position: fixed;
	left: 0;
	top: 0;
	min-width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 2;
}

#onload img{
	width: 100%;
}

.fondu{
	opacity: 0;
	transition: opacity 0.4s ease-out;
}

.c_white{
	color: white;
}

.txt-center{
	text-align: center;
}

#blanc {
	color: white;
}

/*==========*/

.advertise{
	border: none;
	border-radius: 10px;
	color: white;
	filter: brightness(60%);
	transition: filter 0.5s, border 0.5s;
}

.advertise:hover{
	cursor: pointer;
	filter: brightness(100%);
	border: 1px solid white;
}