main{
    min-height: 100vh;
    position: relative;
}

.banner{
    z-index: 1;
    position: fixed;
}

.banner .img-banner{
    width: 100%;
    min-height: 100%;
}

.voile{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
}

.banner .header-banner, .banner .text-banner{
    position: absolute;
    z-index: 3;
    left: 40px;
}

.banner .header-banner {
    bottom: 100px;
    font-size: 150%;
}

.banner .text-banner{
    bottom: 65px;
}

form{
    position: absolute;
    z-index: 2;
    width: 40%;
    height: 100%;
    right: 0;
    padding: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
}

form *{
    max-width: 50%;
}

form h1{
    color: #191A48;
}

label{
    width: 100%;
}

input, a{
    width: 100%;
}

input[type=text], input[type=password]{
    padding: 10px;
    font-weight: bold;
    background-color: #f0f0f0;
    border-radius: 3px;
}

input[type=submit]{
    background-color: #191A48;
    color: #fff;
    padding: 20px;
    font-weight: bold;
}

.error{
    color: #f00;
    font-style: italic;
    margin-top: -10px;
}

.redirect{
    font-size: 90%;
}