:root{
    --height: 30px;
}

form{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    padding: 20px;
    border: 1px solid #000;
    background-color: rgba(255,255,255,0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

label{
    width: 100%;
}

input, a{
    width: 100%;
    height: var(--height);
    border: 1px solid #000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bottom_handler{
    width: 47.5%;
    background-color: red;
}

.bottom_handler:nth-child(2){
    background-color: #fff;
    background-color: red;
    margin-left: 5%;
    text-align: center;
    line-height: var(--height);
}