a
{
    text-decoration: none;
}

a:visited
{
    text-decoration: none;
    color: black;
}

a:valid
{
    color: red;
}

#Choice{
    float: left;
    margin-top: 300px;
    margin-left: 20%;
}

div{
    padding: 10px;
}

tr
{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.groupe
{
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 30%;
    background-image: url("../img/FondGrisFoncé.png");
}

#info_connexion
{
    margin-top: 200px;
}

#changement
{
    margin-right: 25%;
    float: right;
}

body{
    background-image: url("../img/FondChangement.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.gauche
{
    margin-top: 50px;
    margin-right: 35%;
    background-image: url("../img/FondGrisClair.png");
}

.info_connexion
{
    width: 500px;
    height: 500px;
}

.info_public
{
    width: 500px;
    height: 500px;
}

.info_perso
{
    width: 500px;
    height: 500px;
}

.supprimer
{
    width: 500px;
    height: 500px;
}