a
{
    text-decoration: none;
    color: black;
}

a:visited
{
    text-decoration: none;
    color: black;
}

a:valid
{
    color: red;
}

#Choice{
    position: fixed;
    margin-top: 400px;
    margin-left: 20%;
}

div{
    padding: 10px;
}

tr
{
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.groupe
{
    margin-top: 50px;
    border: 1px solid black;
    border-collapse: collapse;
    width: 40%;
}

#info_connexion
{
    margin-top: 200px;
}

#changement
{
    margin-left: 45%;
    width: 500px;
    height: 250px;
}

body{
    background-image: url("../img/FondChangement.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.ancre_gauche
{
    margin-top: 50px;
    margin-right: 35%;
    background-image: url("../img/FondGrisClair.png");
}

.ancre_droite
{
    border: 1px solid black;
    margin-top: 50px;
    margin-right: 35%;
    background-image: url("../img/FondGrisFoncé.png");
}

#connexion
{
    display: flex;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

#info_public
{
    display: flex;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

#info_perso
{
    display: flex;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}

#supprimer
{
    display: flex;
    border: 1px solid black;
    width: 500px;
    height: 500px;
}